<h3>Artistas</h3>

@code {
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="stylesheet" href="../css/artistas.css">
</head>
<body> 
    <h1>Galeria de artistas</h1>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/michaeljackson.html" target="_self">
                <img src="../artistas/michael.jpeg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Michael Jackson</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/queen.html" target="_self">
                <img src="../artistas/queen.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Queen</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/madonna.html" target="_self">
                <img src="../artistas/Madonna.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Madonna</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/tupac.html" target="_self">
                <img src="../artistas/tupac.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Tupac</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/eminem.html" target="_self">
                <img src="../artistas/eminem.png">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Eminem</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/christina.html" target="_self">
                <img src="../artistas/christina.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Christina Aguilera</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/britney.html" target="_self">
                <img src="../artistas/britney.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Britney Spears</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/slipknot.html" target="_self">
                <img src="../artistas/slipknot.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Slipknot</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/metallica.html" target="_self">
                <img src="../artistas/metallica.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Metallica</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/guns.html" target="_self">
                <img src="../artistas/guns.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Guns N Roses</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/thebeatles.html" target="_self">
                <img src="../artistas/the beatles.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>The Beatles</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/elvis.html" target="_self">
                <img src="../artistas/elvis.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Elvis Presley</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/rollings.html" target="_self">
                <img src="../artistas/rolling.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Rollingstones</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/acdc.html" target="_self">
                <img src="../artistas/acdc.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>AC DC</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/steve.html" target="_self">
                <img src="../artistas/steve wonder.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Steve Wonder</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/amy.html" target="_self">
                <img src="../artistas/Amy-Winehouse.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Amy Winehouse</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/soda.html" target="_self">
                <img src="../artistas/soda.jpg.crdownload">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Soda Stereo</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/bonjovi.html" target="_self">
                <img src="../artistas/bon-jovi.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Bon Jovi</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/nirvana.html" target="_self">
                <img src="../artistas/nirvana.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Nirvana</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/whitney.html" target="_self">
                <img src="../artistas/whitney-houston-chic.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Whitney Houston</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/cher.html" target="_self">
                <img src="../artistas/cher.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Cher</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/gardel.html" target="_self">
                <img src="../artistas/gardel.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Carlos Gardel</p></h2>
            <h2><p>Zona 3</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/rodrigo.html" target="_self">
                <img src="../artistas/rodrigo.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2> <p>Rodrigo</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/gilda.html" target="_self">
                <img src="../artistas/gilda.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2> <p>Gilda</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/50cent.html" target="_self">
                <img src="../artistas/50c.png">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>50cent</p></h2>
            <h2><p>Zona 1</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/nsync.html" target="_self">
                <img src="../artistas/nsync.jpg">
            </a>
        </div>
        <div class="nombreArtista">
            <h2><p>Nsync</p></h2>
            <h2><p>Zona 2</p></h2>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="../cantantes/backstreetboys.html" target="_self">
                <img src="../artistas/backstreet.jpg">
            </a>
        </div>
        <div class="nombreArtista">
        <h2><p>Backstreet Boys</p></h2>
        <h2><p>Zona 2</p></h2>
        </div>
    </div>
</body>
</html>
}
